html {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 16pt;
}

body {
    padding-bottom: 40px;
}

img {
    width: 100%;
    border: 5px solid white;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    text-align: center;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

h2 {
    font-size: 20pt;
}

ul {
    list-style-type: none;
}

.ratings {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.results {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.explanation {
    text-align: left;
    font-size: 14pt;
}

.math-section {
    text-align: center;
    font-size: 14pt;
}
