{% include "header.html" %}


    <!--Player profile title-->
    <section id="player-profile">
        <div class="container-fluid p-0 mb-3">
          <div class="pt-3 pb-2 text-center mb-2 no-gutters"
               style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)"
          >
            <h2 class="text-body-emphasis player-profile-name">{{ profile_data["player_name"] }}</h2>
          </div>
        </div>
    </section>

    <!--Highlight cards-->
    <section id="highlights">
        <div class="container-fluid col-10">

            <div class="row justify-content-center">
                <div class="card col-10 col-sm-4 px-0">
                  <div class="card-header border-dark text-center"
                  style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                    RATING
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Current rating:  {{ profile_data["current_rating"] }}</li>
                        <li class="list-group-item">Highest rating:  {{ profile_data["high_rating"] }}
                            <br>(min. 10 games)
                        </li>
                  </ul>
                </div>

                <div class="card col-10 col-sm-4 px-0">
                  <div class="card-header border-dark text-center"
                  style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                    GAMES PLAYED
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Total games:  {{ profile_data["num_games"] }}</li>
                        <li class="list-group-item">A games: {{ profile_data["results_highlights"]["A"]["Total"] }}</li>
                        <li class="list-group-item">B games: {{ profile_data["results_highlights"]["B"]["Total"] }}</li>
                        <li class="list-group-item">C games: {{ profile_data["results_highlights"]["C"]["Total"] }}</li>
                  </ul>
                </div>

                <div class="card col-10 col-sm-4 px-0">
                  <div class="card-header border-dark text-center"
                  style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                    SCORE STATS
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Avg final score:&nbsp;&nbsp;
                            <span style="float:right">{{profile_data['score_stats']['avg_final_score']}}</span></li>
                        {% if profile_data['score_stats']['relative_to_game_avg'] > 0 %}
                            <li class="list-group-item">+/- avg in games played:&nbsp;&nbsp;
                                <span style="float:right">+{{profile_data['score_stats']['relative_to_game_avg']}}</span></li>
                        {% else %}
                            <li class="list-group-item">+/- avg in games played:&nbsp;&nbsp;
                                <span style="float:right">{{profile_data['score_stats']['relative_to_game_avg']}}</span></li>
                        {% endif %}
                        <li class="list-group-item">Avg starting points:&nbsp;&nbsp;
                            <span style="float:right">{{profile_data['score_stats']['avg_starting_score']}}</span></li>
                        <li class="list-group-item">Avg points gained:&nbsp;&nbsp;
                            <span style="float:right">{{profile_data['score_stats']['avg_net_gained']}}</span></li>
                  </ul>
                </div>

                <div class="card col-10 col-sm-8 px-0">
                  <div class="card-header border-dark text-center"
                  style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                    RATING HISTORY
                  </div>
                  <img src="{{url_for('get_rating_fig', player_name=profile_data['player_name'])}}"
                  class="card-img-bottom" alt="rating plot">
                </div>
<!-- faction_color=rgba({{profile_data['faction_bg_color']}},0.2) -->

                <div class="card col-10 col-sm-4 text-center px-0">
                  <div class="card-header border-dark"
                  style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                    MOST PLAYED FACTION(S)
                  </div>
                    <div class="card-body text-center">
                        {% for faction in profile_data["most_played_faction"].keys()|list %}
                            <img src="../static/assets/images/{{faction}}.png"
                                alt="faction picture" class="faction rounded-circle">
                        {% endfor %}
                    </div>
                      <div class="card-footer text-body-secondary"
                      style="background-color: rgba({{profile_data['faction_bg_color']}},0.2)">
                        Played in {{ (profile_data["most_played_faction"].values()|list)[0] }} games
                      </div>
                </div>

            </div>
        </div>
    </section>

  <!--Results Summary-->
<section id="results-highlights">
<div class="container-fluid col-md-10 py-5">
    <h2 class="text-center pb-3">Result Highlights</h2>
      <table class="table text-center table-bordered game-history">
        <thead class="table-dark">
          <tr>
              <th scope="col"></th>
              <th scope="col">A</th>
              <th scope="col">B</th>
              <th scope="col">C</th>
        </thead>
        <tbody>
        <tr>
            <td class="emoji">🥇</td>
            <td>{{ profile_data["results_highlights"]["A"][1] }}</td>
            <td>{{ profile_data["results_highlights"]["B"][1] }}</td>
            <td>{{ profile_data["results_highlights"]["C"][1] }}</td>
        </tr>
        <tr>
            <td class="emoji">🥈</td>
            <td>{{ profile_data["results_highlights"]["A"][2] }}</td>
            <td>{{ profile_data["results_highlights"]["B"][2] }}</td>
            <td>{{ profile_data["results_highlights"]["C"][2] }}</td>
        </tr>
        <tr>
            <td class="emoji">🥉</td>
            <td>{{ profile_data["results_highlights"]["A"][3] }}</td>
            <td>{{ profile_data["results_highlights"]["B"][3] }}</td>
            <td>{{ profile_data["results_highlights"]["C"][3] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
</section>

  <!--Game History-->
  <section id="game-history">
    <div class="container-fluid col-lg-10 py-3">
    <h2 class="text-center pb-3">Detailed Game History</h2>
      <table class="table text-center table-bordered game-history">
        <thead class="table-dark">
          <tr>
            <th scope="col">BGA ID</th>
            <th scope="col">Round</th>
            <th scope="col">Group</th>
              <th scope="col">Map</th>
              <th scope="col">1st</th>
              <th scope="col">2nd</th>
              <th scope="col">3rd</th>
              <th scope="col">4th</th>
              <th scope="col">5th</th>
              <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
        {% for game_id in game_history %}
        <tr>
            <td><a href="https://boardgamearena.com/table?table={{ game_id }}" target="_blank">{{ game_id }}</a></td>
            <td>{{ game_history[game_id]["round"] }}</td>
            <td>{{ game_history[game_id]["group"].upper() }}</td>
            <td>{{ game_history[game_id]["map"].title() }}</td>
            {% for entry in game_history[game_id]["entries"] %}
                {% if entry.player.name == profile_data["player_name"] %}
                    <td style="background-color:rgba({{entry.faction.color}},.3)">{{ entry.player.name }}<br>
                        {{ entry.score }}<br>
                        <span style="color:rgb({{entry.faction.color}}">{{ entry.faction.name }}</span>
                    </td>
                {% else %}
                    <td>{{ entry.player.name }}<br>{{ entry.score }}<br>
                        <span style="color:rgb({{entry.faction.color}}">{{ entry.faction.name }}</span>
                    </td>
                {% endif %}
            {% endfor %}
            {% for i in range(5 - game_history[game_id]["num_players"]) %}
                <td></td>
            {% endfor %}
            {% for entry in game_history[game_id]["entries"] %}
                {% if entry.player.name == profile_data["player_name"] %}
                    {% if entry.new_rating > entry.old_rating %}
                    <td>{{ entry.new_rating }}<br>(+{{entry.new_rating - entry.old_rating}})</td>
                    {% else %}
                    <td>{{ entry.new_rating }}<br>({{entry.new_rating - entry.old_rating}})</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  {% include "footer.html" %}