{% include "header.html" %}


    <div class="container col-10 col-sm-8 col-lg-6 py-3">
    <h2 class="text-center pb-3">Player profile: {{ profile_data["player_name"] }}</h2>
   </div>

    <!--Highlight cards-->
    <section id="highlights">
        <div class="container">
            <div class="row">
                <div class="card col-6" style="width: 18rem;">
                  <div class="card-header border-dark text-center">
                    RATING
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Current rating:  {{ profile_data["current_rating"] }}</li>
                      {% if profile_data["num_games"] >= 10 %}
                        <li class="list-group-item">Rating high: 5555 </li>
                      {% else %}
                        <li class="list-group-item">Rating high: -- </li>
                      {% endif %}
                  </ul>
                </div>

                <div class="card col-6" style="width: 18rem;">
                  <div class="card-header border-dark text-center">
                    GAMES PLAYED
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Total Games:  {{ profile_data["num_games"] }}</li>
                        <li class="list-group-item">A Games: {{ profile_data["num_games"] }}</li>
                        <li class="list-group-item">B Games: {{ profile_data["num_games"] }}</li>
                        <li class="list-group-item">C Games: {{ profile_data["num_games"] }} </li>
                  </ul>
                </div>

                <div class="card col-6" style="width: 18rem;">
                  <div class="card-header border-dark text-center">
                    BIDDING
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Bid Average: XX</li>
                        <li class="list-group-item">Bid aggression rank: XX</li>
                  </ul>
                </div>

                <div class="card col-6" style="width: 18rem;">
                  <div class="card-header border-dark text-center">
                    FACTION PLAY
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item">Most played faction: XX</li>
                        <li class="list-group-item">2nd: XX</li>
                        <li class="list-group-item">3rd: XX</li>
                  </ul>
                </div>

            </div>
        </div>
    </section>

  <!--Results Summary-->
<section id="results-highlights">
<div class="container col-lg-10 py-3">
    <h2 class="text-center pb-3">Results Highlights</h2>
      <table class="table text-center table-bordered game-history">
        <thead class="table-dark">
          <tr>
              <th scope="col"></th>
              <th scope="col">A</th>
              <th scope="col">B</th>
              <th scope="col">C</th>
        </thead>
        <tbody>
        <tr>
            <td class="medal">🥇</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td class="medal">🥈</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td class="medal">🥉</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
      </table>
    </div>
</section>

  <!--Game History-->
  <section id="game-history">
    <div class="container col-lg-10 py-3">
    <h2 class="text-center pb-3">Detailed Game History</h2>
      <table class="table text-center table-bordered game-history">
        <thead class="table-dark">
          <tr>
            <th scope="col">BGA ID</th>
            <th scope="col">Round</th>
            <th scope="col">Group</th>
              <th scope="col">Map</th>
              <th scope="col">1st</th>
              <th scope="col">2nd</th>
              <th scope="col">3rd</th>
              <th scope="col">4th</th>
              <th scope="col">5th</th>
              <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
        {% for game_id in game_history %}
        <tr>
            <td><a href="https://boardgamearena.com/table?table={{ game_id }}" target="_blank">{{ game_id }}</a></td>
            <td>{{ game_history[game_id]["round"] }}</td>
            <td>{{ game_history[game_id]["group"].upper() }}</td>
            <td>{{ game_history[game_id]["map"].title() }}</td>
            {% for entry in game_history[game_id]["entries"] %}
                {% if entry.player.name == profile_data["player_name"] %}
                    <td style="background-color:rgba({{entry.faction.color}},.3)">{{ entry.player.name }}<br>
                        {{ entry.score }}<br>
                        <span style="color:rgb({{entry.faction.color}}">{{ entry.faction.name }}</span>
                    </td>
                {% else %}
                    <td>{{ entry.player.name }}<br>{{ entry.score }}<br>
                        <span style="color:rgb({{entry.faction.color}}">{{ entry.faction.name }}</span>
                    </td>
                {% endif %}
            {% endfor %}
            {% for i in range(5 - game_history[game_id]["num_players"]) %}
                <td></td>
            {% endfor %}
            {% for entry in game_history[game_id]["entries"] %}
                {% if entry.player.name == profile_data["player_name"] %}
                    {% if entry.new_rating > entry.old_rating %}
                    <td>{{ entry.new_rating }}<br>(+{{entry.new_rating - entry.old_rating}})</td>
                    {% else %}
                    <td>{{ entry.new_rating }}<br>({{entry.new_rating - entry.old_rating}})</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  {% include "footer.html" %}